@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700');

// Set brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #dcddd9;
$beige-lighter: #f7f8f3;

// Update global variables
$family-sans-serif: "Nunito", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $brown;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import components
@import "~bulma/sass/utilities/all";
@import "~bulma/bulma";

body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	min-height: 100vh;
}

.slide-fade-enter-active {
	transition: all .487s ease-in-out;
}
.slide-fade-leave-active {
	transition: all .487s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(36px);
	opacity: 0;
}

.slide-right-fade-enter-active {
	transition: all .358s ease-in-out;
}
.slide-right-fade-leave-active {
	transition: all .358s ease-in-out;
}
.slide-right-fade-enter, .slide-right-fade-leave-to {
	transform: translateX(33px);
	opacity: 0;
}

.fade-enter-active {
	transition: all .42s ease-in-out;
}
.fade-leave-active {
	transition: all .42s ease-in-out;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}