@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,500,700');

// Set brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #dcddd9;
$beige-lighter: #f7f8f3;

// Update global variables
$family-sans-serif: "Nunito", system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Helvetica Neue, sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $brown;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import components
@import "~bulma/sass/utilities/all";
@import "~bulma/bulma";

body {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	min-height: 100vh;
}

.v--modal-overlay {
	background-color: rgba(#000, .5) !important;
}

.v--modal {
	border-radius: 12px !important;

	.box {
		background: white;
		overflow: hidden;
		width: 100%;
		box-sizing: border-box;
		box-shadow: 0 0 40px black;
		font-size: 0;

		.partition {
			width: 100%;
			height: 100%;

			.partition-title {
				box-sizing: border-box;
				padding: 30px;
				width: 100%;
				text-align: center;
				letter-spacing: 1px;
				font-size: 20px;
				font-weight: 300;
			}

			.partition-form {
				padding: 0 20px;
				box-sizing: border-box;
			}
		}

		input[type=password],
		input[type=text],
		input[type=email] {
			display: block;
			box-sizing: border-box;
			margin-bottom: 4px;
			width: 100%;
			line-height: 2;
			border: 0;
			border-bottom: 1px solid #DDDEDF;
			transition: 0.5s all;
			outline: none;
		}
	}
}

.pop-out-enter-active,
.pop-out-leave-active {
	transition: all 0.5s;
}

.pop-out-enter,
.pop-out-leave-active {
	opacity: 0;
	transform: translateY(24px);
}

.slide-fade-enter-active {
	transition: all .487s ease-in-out;
}
.slide-fade-leave-active {
	transition: all .487s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateY(36px);
	opacity: 0;
}

.slide-right-fade-enter-active {
	transition: all .358s ease-in-out;
}
.slide-right-fade-leave-active {
	transition: all .358s ease-in-out;
}
.slide-right-fade-enter, .slide-right-fade-leave-to {
	transform: translateX(33px);
	opacity: 0;
}

.fade-enter-active {
	transition: all .42s ease-in-out;
}
.fade-leave-active {
	transition: all .42s ease-in-out;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}